<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the index page!</h1>
    <% for (let i = 0; i < people.length; i++) {%>
    <p>
        <%=people[i].name%> </br>
        <%=people[i].age%> </br>
        <%=people[i].gender%> </br>
        <%=people[i].bDay%> </br>
    </p>
    <%}%>
    
    </body>
</html>