<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the show page!</h1>
    <h2><%=person.name%></h2>
    <h3><%=person.age%></h3>
    </body>
</html>